.searchBox {
    width: 354px;
    height: 56px;
    padding: 0px 10px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    background-size: cover;
    font-family: Arial;
    font-size: 14px;
    color: #474747;
    font-weight: 400;
    text-decoration: none solid rgb(71, 71, 71);
    margin-right: 2rem !important;
}