.mapper {
    height: calc(100vh - 101px);
    /* margin-top: 101px; */
    width: 100%;
}

.no-cover {
    padding: 0 !important;
}

/* .middle-wrapper {
    padding: 12px;
    height: calc(100vh - 64px);
} */

.no-row {
    margin:0 !important;
}