.cartIcon {
    width: 32px;
    height: 32px;
    fill: #000000;
}

.cartSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardCount {
    /* margin-top: 35px; */
    width: 47px;
    height: 27px;
    font-family: Arial;
    font-size: 22px;
    color: #222222;
    font-weight: 400;
    text-decoration: none solid rgb(34, 34, 34);
    margin: 0 !important;
}

svg.svg-inline--fa.fa-shopping-cart.fa-w-18.iconContainer {
    height: 1.5em;
    width: 1.5em;
    margin-right: 7px;
}